<!DOCTYPE html>
<html>
<head>
	<style> 
		a { 
			display : block; 
		}
		
	</style>
	<meta charset="UTF-8">
	<title>index 페이지 입니다. </title>
</head>
<body>
	<h1> AJAX 로 통신 하는 방법 </h1>
	
	<a href="/ex01"> 01_get 요청 하기 </a>
	<a href="/ex02"> 02_get 요청 하기 : @ResponseBody 로 응답받기 </a>
	<a href="/ex03"> 03_get 요청 하기 : parameter 값 넘기기 </a>
	<a href="/ex04"> 04_post 요청 하기 : parameter 값 넘기기 </a>
	<a href="/ex05"> 05_get 요청 하기 :  parameter 로 넘어오는 값을 DTO로 받기 (@ModelAttribute)</a>
	<a href="/ex06"> 06_post 요청 하기 : parameter 로 넘어오는 값을 DTO로 받기  (@ModelAttribute)</a>
	<a href="/ex07"> 07_post  요청 하기 : parameter 로 넘어오는 값을 DTO로 받기  (@RequestBody) </a>
	<a href="/ex08"> 08_post 요청 하기 & parameter 전달 & List 객체로 리턴  :  </a>
	<a href="/ex09"> 09_post 요청 하기 : @ResponseEntity 를 사용해서 DTO , http 상태코드 </a>
	<a href="/ex10"> 10_post 요청 하기 :  @ResponseEntity 를 사용해서 List , http 상태코드</a>
	

</body>
</html>